.big-box {
    background-color: #ffffff;
    width: 100%; /* Mantine SimpleGrid içinde otomatik genişlik ayarlanacak */
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px; /* Her kutu arasında boşluk */
  }

  .card-image {
    display: block;
    padding: auto;
    margin: auto;
    width: auto;
    height: 200px;
    object-fit: cover;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  .card-title {
    margin: 10px 0 5px;
    font-size: 18px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
    word-break: break-word;
  }

  .card-title:hover {
    color: #2e9add;
  }

  .card-desc {
    font-size: 14px;
    color: #aaa;
    word-break: break-word;
  }
 