body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #f8f9fa;
  padding: 20px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.navbar .logo {
  color: #333;
  font-size: 24px;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar ul li a {
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar ul li a.exit {
  color: rgb(0, 0, 0);
}

.navbar ul li a.notification {
  color: rgb(0, 0, 0);
}

.navbar ul li a:hover {
  color: #35506e;
}

.green-box {
  width: 30px;
  height: 30px;
  background-color: green;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.green-box:hover {
  background-color: #32cd32;
}

.green-box-text {
  color: white;
  font-weight: bold;
}

.greeting {
  color: #333;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.filter {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  background-color: #f8f9fa;
  color: #333;
  cursor: pointer;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 4px 4px 0;
  width: 200px;
}

.suggestions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #bbb;
  font-size: 14px;
  margin-bottom: 20px;
}

.suggestions h2 {
  margin-bottom: 25px; 
  padding: 20px;
  font-size: 18px;
  color: #333;
}

.suggestion-box {
  background-color: #f0f0f0;
  padding: 8px;
  border-radius: 8px;
  margin-right: 10px;
}

.suggestions-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.suggestion-item {
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  color: #007bff;
}

.suggestion-all {
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  color: #007bff;
}

.suggestion-all:hover {
  background-color: #d0d0d0;
}

.suggestion-item:hover {
  background-color: #d0d0d0;
}

.suggestions-list .suggestion-box a {
  color: #007bff;
  text-decoration: none;
  font-size: 12px;
  transition: color 0.3s;
}

.suggestions-list .suggestion-box a:hover {
  color: #0056b3;
}

.big-box-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 700px) {
  .big-box-row {
    flex-direction: column;
  }
  .big-box {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .big-box {
    width: 31%; /* Tabletler için 3 sütunlu */
  }
}

.custom-card {
  background-color: #f0f0f0;
  transition: transform 0.3s;
}

.custom-card:hover {
  transform: scale(1.05);
}
